<div class="lista">
  <label>Nome:</label>
  <input type="text" [(ngModel)]="cliente.nome">
  <label>Idade:</label>
  <input type="text" [(ngModel)]="cliente.idade">
  <label>Peso:</label>
  <input type="text" [(ngModel)]="cliente.peso">
  <label>Valor:</label>
  <input type="text" [(ngModel)]="cliente.valor">
  <label>Data:</label>
  <input type="text" [(ngModel)]="cliente.data">
  <button type="button" (click)="addCliente()">Add cliente </button>
  <ul>
    <li [style.color]="item.peso > 80 ? 'red':'green'" *ngFor="let item of clientes">
      {{item.nome | uppercase}} - {{item.idade}} - {{item.peso}}- {{item.valor | formatCurrency}} - {{item.data | formatDate}} - {{item.peso > 80? 'Gordo' : 'Ok'}}
    </li>
  </ul>
</div>